In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#open csv file
file_to_load = "output_csvs/sales_data_clean.csv"
sales_df=pd.read_csv(file_to_load, index_col=0)
sales_df

,skus_count,customer_id,order_id,order_item_id,order_date,sales,product_category,item_sku,cust_type_New,cust_type_Repeat,new_or_repeat_by_order
0,1.0,29649cb70abee66eb557475c57bbcfee,ebe0ac703444de921b6fb5367260ad26,f4999efe0551c5673c9ccf960e648372,2020-04-24 03:04:56,376.913629,noissue Tissue,custom tissue-1000#2colour-50 x 75cm,1,0,New
1,2.0,b5ad5ba050d28afdc5da20475216f4ab,662539ec2021c4b79518b257ac839e00,8d9ca488c0d0075c8ba3d323cc4842b7,2020-08-09 07:43:44,199.020039,noissue Stickers,custom sticker-circle-75 x 75mm-1000,0,1,Repeat
2,1.0,69054b3dade80ebd345ca0de53a796fd,2356a902a3f8d5e5f2b2c2a8ea8b9a34,0fdcfca5e4be5dd653fcfdfa4788c911,2020-06-09 15:28:48,123.189307,Compostable Mailers,noissue-mailer-100-370mm-480mm,1,0,New
3,2.0,b5ad5ba050d28afdc5da20475216f4ab,662539ec2021c4b79518b257ac839e00,04577b5d415b3e8917b3940bd7f1abc4,2020-08-09 07:43:44,55.388231,noissue Stamps,custom stamp-manual-8cm x 8cm-1,0,1,Repeat
4,1.0,d0594296cb410dd48e081c620b358451,451a0567ae7c693fb2882b37860ef20d,6a9c15755566cb2f407829fb3637de52,2020-06-11 19:51:18,106.625325,Compostable Mailers,noissue-mailer-100-300mm-420mm,1,0,New
...,...,...,...,...,...,...,...,...,...,...,...
27732,2.0,167a163973c0dc784268ce1439f44731,12a8f653a63f74268a3c91602e18a931,56defccc63de74d71ae919ab1ecae656,2020-08-28 16:08:39,170.119235,noissue Stickers,custom sticker-circle-40 x 40mm-1000,1,0,New
27733,4.0,cade2aee3b1062fe9c6314856ba263e7,c0b75f59becb4bb51c2f020c20241104,8855952988a815c33d84408ee4c60adb,2020-05-08 09:46:57,159.147661,noissue Stickers,custom sticker-circle-50 x 50mm-1000,0,1,Repeat
27734,4.0,cade2aee3b1062fe9c6314856ba263e7,c0b75f59becb4bb51c2f020c20241104,848f2cb9ef28ad9b821e91599a3df37a,2020-05-08 09:46:57,340.266201,noissue Tissue,own template tissue-1000#2colour-50 x 75cm,0,1,Repeat
27735,NaN,657989c9751e4f61cbf730c67ae15d4e,84409ab5d58daa0e971150510b1c106a,aaaac45627dddcb26224f41f59da5b68,2020-05-10 21:44:36,14.546653,Sample,SAMPLEPACK,1,0,New
27736,1.0,0c620bcfc2a979fe9f22acbe0019f276,23e63ace5ccf4dd62ad7da8aab98af93,f8ca2fa0793a913cc0abb9ac6e6b53a5,2020-05-19 13:04:48,516.875366,noissue Tissue,own template tissue-2000#1colour-50 x 75cm,0,1,Repeat

In [3]:
#Calculate total number of Repeat/new customer orders in df
repeat_count=sales_df.groupby(sales_df["new_or_repeat_by_order"]=="Repeat").sum()
repeat_count

,skus_count,sales,cust_type_New,cust_type_Repeat
new_or_repeat_by_order,,,,
False,30837.0,3.526498e+06,19005,0
True,14405.0,2.640192e+06,0,8732

In [4]:
#calculate sku count by repeat customer type
repeat_df=sales_df.loc[sales_df["new_or_repeat_by_order"]=="Repeat"]
print(repeat_df["skus_count"].value_counts())
repeat_df["sales"].mean()

1.0     5147
2.0     2185
3.0      922
4.0      236
5.0       82
6.0       45
20.0      20
7.0       14
Name: skus_count, dtype: int64

302.35826878845097

In [5]:
#calculate sku count by new customer type
new_df=sales_df.loc[sales_df["new_or_repeat_by_order"]=="New"]
new_df["skus_count"].value_counts()

1.0     9082
2.0     5092
3.0     2059
4.0      656
5.0      257
6.0       42
29.0      35
7.0       22
8.0        8
Name: skus_count, dtype: int64

In [23]:
#check answer for average sales by product type - SQL question 2
sales_df.groupby(sales_df["product_category"]).mean()["sales"].sort_values(ascending=False)

product_category
PLUS                   4130.896308
Bundle                  439.120563
noissue Tissue          275.359618
noissue Tape            189.007936
Dispenser               172.800483
noissue Stickers        150.430639
Compostable Mailers     147.064534
noissue Cards           113.613723
noissue Foodsafe         88.194452
noissue Stamps           82.805983
Recycled Mailers         81.546706
Sample                   54.590376
Name: sales, dtype: float64

In [7]:
#create a dataframe for sept sales
sept_df=sales_df.loc[sales_df["order_date"]>="2020-09-01"]
sept_df["sales"].mean()

213.27642903200464

In [8]:
#calculate new customer average sales in sept to check calculations on AOV
sales_df.loc[sales_df["new_or_repeat_by_order"]=="New"].groupby(sales_df["order_date"]>="2020-09-01").mean()["sales"]

order_date
False    183.802819
True     190.773103
Name: sales, dtype: float64

In [9]:
#percentage by basket count - check
(sales_df.groupby(sales_df["skus_count"]).sum())/((sales_df["cust_type_Repeat"]).count())

                 sales  cust_type_New  cust_type_Repeat
skus_count
1.0         142.869516       0.327433          0.185564
2.0          48.665091       0.183581          0.078776
3.0          18.630119       0.074233          0.033241
4.0           5.629631       0.023651          0.008508
5.0           2.085135       0.009266          0.002956
6.0           0.537248       0.001514          0.001622
7.0           0.186103       0.000793          0.000505
8.0           0.046749       0.000288          0.000000
20.0          0.028517       0.000000          0.000721
29.0          0.062063       0.001262          0.000000

In [10]:
#how many orders per product category/repeat
sales_df["product_category"].value_counts()

noissue Tissue         10128
Compostable Mailers     5863
noissue Stickers        5499
Sample                  2085
noissue Stamps          1572
noissue Tape            1425
noissue Cards            516
PLUS                     240
Bundle                   236
Recycled Mailers          83
Dispenser                 79
noissue Foodsafe          11
Name: product_category, dtype: int64

In [21]:
#checking SQL question #1
#item skus the same, but numbers are different...
sales_df.loc[sales_df["order_date"]>="2020-08-05"]\
.groupby(sales_df["item_sku"]).sum()["skus_count"].sort_values(ascending=False)

item_sku
custom tissue-50 x 75cm-250#1colour                          924.0
custom tissue-1000#1colour-50 x 75cm                         916.0
noissue-mailer-100-260mm-385mm                               905.0
noissue-mailer-100-300mm-420mm                               562.0
custom stamp-manual-8cm x 8cm-1                              552.0
                                                             ...
custom stamp-manual-8cm x 8cm-3                                1.0
custom sticker-square-100 x 100mm-2000                         1.0
custom cards creator design-148mm x 105mm-A6-2000-FSC Mix      1.0
custom sticker-rectangle-125 x 75mm-5000                       1.0
custom stamp-self-inking-5cm x 5cm-2                           1.0
Name: skus_count, Length: 249, dtype: float64

In [25]:
sales_df.groupby(sales_df["product_category"]).sum()["cust_type_Repeat"].sort_values(ascending=False)

product_category
noissue Tissue         3898
noissue Stickers       1810
Compostable Mailers    1619
noissue Tape            474
noissue Stamps          386
noissue Cards           209
PLUS                    116
Sample                  113
Bundle                   40
Recycled Mailers         37
Dispenser                27
noissue Foodsafe          3
Name: cust_type_Repeat, dtype: int64